

@font-face {
  font-family: SFUIDisplay-Regular;
  src: url(../css/font/SFDisplay-Regular.otf);
}

/*************************************** Cover Section ***************************************/

* {
  box-sizing: border-box;

 
}

.cover {
  width: auto;
  height: 100vh;
}

.bar {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
}



.logo {
  padding-top: 46px;
  padding-left: 50px;
}

.login_signup_publish {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 49px;
}

.login {
  font-family: SFUIDisplay-Regular;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #0d0321;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 2px solid;
}

.signup {
  font-family: SFUIDisplay-Regular;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #0d0321;
/*   padding-right: 5px;
  margin-right: 5px; */
}



.publish {
  width: 135px;
  height: 39px;
  border-radius: 13px 7px 18px 17px;
  background-color: #b4e680;
 /*  transform: skew(-5deg); */
  margin-right: 51px;
  border: none;
  font-family: SFUIDisplay;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  outline:none;
  clip-path: polygon( 97% 88%, 3% 90%, 0 15%, 100% 0);
  margin-left: 45px;
}

/* Header Content */

.header-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 131px;
}

.point {
  width: 22px;
  height: 22px;
  margin-right: 45px;
  margin-top: -150px;
}
.header-text {
  font-family: PlayfairDisplay;
  font-size: 42px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #16161d;
}

.oval {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  background: #b8e986;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -50px;
  margin-bottom: 45px;
  z-index: -1;
}

.dotdot {
  font-weight: bolder;
  font-size: 30px;
  margin-right: -100px;
  margin-bottom: 100px;
  transform: rotate(133deg);
}

/* Search */

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 96px;
}

/* .search_input {
  border: none;
  border-left: 4px solid #b8e986;
  box-shadow: 1px 1px #f0f4f5;
  /* width: 57%; */
  width: 898px;
  height: 43px;

  opacity: 0.65;
  font-family: SFUIDisplay;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #202026;
}
 */


/* *************************************search******************* */
.container_search {
  background: ;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 1px 1px #f0f4f5;
  
}

.container_search input {
  border: 0;
  font-size: 30px;
  opacity: 0.65;
  font-family: SFUIDisplay;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #202026;
  border-left: 4px solid #b8e986;
  width: 898px;
  height: 43px;
  outline:none;
}
.suggestions {
  border-top: 1px solid #f0f4f5 ;
}
.suggestions > div {
  padding: 15px;
  font-size: 20px;

  border-top: 1px solid #f0f4f5;
  cursor: pointer;
  box-shadow: 1px 1px #f0f4f5;
}
.suggestions > div:hover {
  background-color: #f0f4f5;
}
/* **************************************************** */

.search_icon {
  height: 44px;
  background: transparent;
  border: none;
  margin-left: -30px;
  margin-bottom: -14px;
}

/*************************************** On Trend Section ***************************************/

.ontrend {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.point_yellow {
  width: 22px;
  height: 22px;
  margin-right: 190px;
  margin-top: -160px;
}

.trend_slider {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 57%; */
  width: 898px;
}

.point_red {
  width: 22px;
  height: 22px;
  margin-left: 137px;
  margin-top: 30px;
}

.card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 121px;
  height: 141px;
  border-radius: 8px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
  border: solid 0.1px #c8c8c8;
  background-color: #ffffff;
  margin-right: 10px;
}

.card_image {
  width: 100px;
  height: 74px;
  border-radius: 8px;
  background-color: #090909;
}

.card_content {
  width: 111px;
  height: 36px;
  font-family: SFUIDisplay;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #16161d;
  margin-top: 8px;
  padding: 0px  8px;
}

.title_slider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.slider_title {

  font-family: SFUIDisplay;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0d0321;
  margin-bottom: 10px;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 94px;
  
}

.explore_text {

  font-family:  SFUIDisplay-Regular;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #16161d;
}


/* *************************************Body Content************************************* */

.body_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 79px;
  background-color: #f0f4f5;
}

.categories {
  width: 1180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 61px;
  margin-bottom: 68px;
}

.link_categories {
  text-decoration: none;

  font-family: SFUIDisplay;
  font-size: 16px;

  letter-spacing: 0.75px;
  color: #16161d;
}

.link_categories:hover{
  color: #b4e680;
  font-size: 18px;
  transition: .4s;
}

.oval_categories {
  width: 34px;
  height: 34px;
  background-color: #b4e680;
  border-radius: 50%;
  margin-right: -50px;
}

/* AllCards_body_container */

.AllCards_body_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


 /* BiggerImageCard */
.BiggerImageCard_container {
  width: 290px ;
  /* height: 555px; */
  /* height: 445px; */

  height: auto;
  background: transparent;
  border-radius: 10px;
  margin-right: 30px;

 }

.BiggerImageCard_image_container {
  background: green;
  width: 290px;
  height: 361px;
  border-radius: 10px;
  
  } 


.BiggerImageCard_image{

  width: 290px;
  height: 361px;
  border-radius: 10px;

} 

.BiggerImageCard_body {
  background: #fff;
  width: 263px;
  height: 194px;
  float: right;
  border-radius: 10px 0px 10px 10px;
  padding: 29px;

  position: relative;
  bottom: 55px;
} 

.BiggerImageCard_title {



    font-family: SFUIDisplay;
    font-size: 13px;

    letter-spacing: 0.6px;
    color: #3b3841;
    margin-bottom: 9px;

}

.BiggerImageCard_description {
  

    font-family: SFUIDisplay;
    font-size: 17px;

    line-height: 1.41;
    letter-spacing: 0.5px;
    color: #0d0321;
    text-align: left;
    margin-bottom: 8px;
  

}

.BiggerImageCard_underline{
  width: 30px;
  height: 4px;
  background-color: #fdc221;
  border-radius: 10px;
  margin-bottom: 13px;

}

.BiggerImageCard_author{




    font-family: SFUIDisplay;
    font-size: 14px;

    letter-spacing: 0.2px;
    color: #0d0321;
    text-align: left;
    margin-bottom: 10px;
  

}

.BiggerImageCard_date{



    font-family: SFUIDisplay;
    font-size: 13px;

    letter-spacing: 0.2px;
    color: #817c8a;


}

.btn_viewAll {
  margin-top: 25px;
  width: 86px;
  height: 86px;
  background-color: #b8e986;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.8%;
}

.viewAll_text {
  text-decoration: none;
  font-family: SFUIDisplay;
  font-size: 16px;
  font-weight: 500;
  color: #0d0321;
  margin-right: -79px;
  

}

/* .................................................Footer Section........................... */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #ecf0f1;
}
.footer_upper {
  margin-top: 30px;
  margin-left: 175px;
  margin-right: 175px;
  border-bottom:  solid 0.4px #d2d2d2;
  padding-bottom: 15px;
}
.footer_upper_link {
  text-decoration: none;
  font-family: SFUIDisplay;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #202026;
  margin-left: 5px;
  padding-left: 5px;
  border-left: .5px solid;

}

.footer_lower{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 15px;

  margin-left: 175px;
  margin-right: 175px;
  margin-bottom: 16px;
}
.footer_lower_first{
  
}
.footer_lower_first_link{

  font-family: SFUIDisplay;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #202026;
  margin-right: 15px;
  text-decoration: none;
}

.footer_lower_last{
  display: flex;
  flex-wrap: nowrap;
}

.footer_lower_last_link{

  font-family: SFUIDisplay;
  font-size: 14px;
  font-weight: 300;

  letter-spacing: 0.5px;
  color: #202026;

  
}





/* *************************************Media Query****************************************************************************************************************************** */

@media only screen and (max-width: 1400px) {

/*************************************** Cover Section ***************************************/

.logo {
  padding-top: 1.8%;
  padding-left: 3.1%;
}

.logo_img {

  width: 190px;
}
.login_signup_publish {

  padding-top: 1.9%;
}
.login {

  font-size: 12px;
}
.signup {

  font-size: 12px;
}
.publish {
  width: 128px;
  height: 34px;

  font-size: 12px;
}

/* Header Content */
.header-content {

  padding-top: 40px;
}

.point_image {
  width: 18px;
  height: 18px;
}
.header-text {
  font-size: 31px;
  line-height: 1.10;
}
.oval {
  width: 100px;
  height: 100px;
}
.dotdot {
  font-weight: bolder;
  font-size: 20px;
  margin-right: -100px;
  margin-bottom: 60px;
  transform: rotate(140deg);
}

/* *************************************search******************* */

.search {
  margin-top: 43px;
}
.container_search input {
  font-size: 14px;
  font-weight: 300;
  width: 600px;
  height: 30px;
}
.suggestions > div {
  padding: 11px;
  font-size: 14px;
}
.search_icon_image{

  width: 18px;
  height: 18px;
}
.search_icon {
  margin-left: -35px;
  margin-bottom: -27px;
}



/*********************************************** On Trend Section *********************************************/

.ontrend {
  margin-top: 2.4%;
}

.point_yellow {

  margin-right: 170px;
  margin-top: -160px;
}

.point_yellow_img {
  width: 18px;
  height: 18px;

}




.trend_slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
}

.point_red {
  margin-left: 147px;
  margin-top: 30px;
}

.card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 130px;
  margin-right: 8px;
}

.hidden {
  display: none;
}
.card_image {
  width: 90px;
  height: 70px;
}

.card_content {
  width: 105px;
  height: 31px;
  font-size: 12px;
  line-height: 1.28;
  margin-top: 6px;
  padding: 0px  7px;
}


.slider_title {
  font-size: 13px;
  margin-bottom: 7px;
}


.explore {
  margin-top: 3.7%;
}
.explore_text {
  font-size: 11px;
}



/* *************************************Body Content************************************* */

.body_content {
  margin-top: 70px;
}

.categories {
  width: 73.8%;
  margin-top: 58px;
  margin-bottom: 56px;
}

.link_categories {
  font-size: 14px;
}

.link_categories:hover{
   font-size: 16px;
 }

/* .oval_categories {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-right: -50px;
} */


/* AllCards_body_container */

.AllCards_body_container{
  margin: 0px 40px;
}



.btn_viewAll {
  margin-top: 20px;
/*   width: 86px;
  height: 86px; */
  margin-bottom: 5%;
}

/* .viewAll_text {
  font-size: 16px;
  font-weight: 500;
  margin-right: -79px;
} */

/* .................................................Footer Section........................... */

.footer_upper {
  margin-top: 25px;
  margin-left: 155px;
  margin-right: 155px;
  padding-bottom: 15px;
}
.footer_upper_link {
  font-size: 13px;
}

.footer_lower{
 
/*   flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap; */
  margin-left: 155px;
  margin-right: 155px;
  margin-bottom: 16px;
}

.footer_lower_first_link{
  font-size: 13px;
}

.footer_lower_last{
  display: flex;
  flex-wrap: nowrap;
}

.footer_lower_last_link{
  font-size: 13px;
  }
}




  @media only screen and (max-width: 1350px) {

    /*************************************** Cover Section ***************************************/
    







    
    /* *************************************search******************* */
    
    .search {
      margin-top: 60px;
    }
    .container_search input {

      width: 700px;

    }



    
    
    
    /*********************************************** On Trend Section *********************************************/
    
    .ontrend {
      margin-top: 150px;
    }
    

    .explore {
      margin-top: 200px;
    }

    
    }


  @media only screen and (max-width: 1090px) {


    .point_yellow {

      margin-right: 80px;
      margin-top: -190px;
    }
    
    .point_red {
      margin-left: 120px;
      margin-top: 230px;
    }

    .ontrend {
      margin-top: 85px;
    }

    .categories {
      width: 84%;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    

    

  }


  @media only screen and (max-width: 769px) {

    /*************************************** Cover Section ***************************************/
    
  
    .bar {
      justify-content: space-between;
      
    }
  

    
  




    
    /* Header Content */
    .header-content {
    
      margin-top: 35px;
    }
    

    .header-text {
      font-size: 30px;

    }
    .oval {
      width: 80px;
      height: 80px;
    }

    
    /* *************************************search******************* */
    
    .search {
      margin-top: 50px;
    }
    .container_search input {

  
      width: 550px;
     
    }


    
    
    
    /*********************************************** On Trend Section *********************************************/
    
    .ontrend {
      margin-top: 150px;
      flex-wrap: wrap;
    }
    
    .point_yellow {
    
      margin-right: 170px;
      margin-top: -70px;
    }
      .point_yellow_img {
      width: 16px;
      height: 16px;
      }
    
    
      .title_slider {
        display: flex;
        justify-content: center ;
    
      }
  
      .slider_title{
        margin-left: 115px;
      }
    

  
    .hidden1 {
      display: none !important;
    }
  
    .hidden2 {
      display: none !important;
    }
  

    
    .point_red {
      margin-left: 250px;
      margin-top: 100px;
    }
    


  
    
    
    .explore {
      margin-top: 100px;
    }
    .explore_text {
      font-size: 11px;
    }
    
    
    
    /* *************************************Body Content************************************* */
    
    .body_content {
      margin-top: 50px;
    }
    
    .categories {
      width: 97%;
      margin-top: 45px;
      margin-bottom: 40px;
    }
    
    .link_categories {
      font-size: 12px;
   
    }
    
    .link_categories:hover{
       font-size: 14px;
     }
    

    
  
    
    
    
    .btn_viewAll {
      margin-top: 10px;
      width: 70px;
      height: 70px;
      margin-bottom: 15px;
    }
    
    .viewAll_text {
      font-size: 13px;
   
      margin-right: -60px;
    }
    
    /* .................................................Footer Section........................... */
    
    .footer_upper {
      margin-top: 20px;
      margin-left: 30px;
      margin-right: 30px;
      padding-bottom: 15px;
      display: flex;
      justify-content: center;
    }
    .footer_upper_link {
      font-size: 12px;
    }
    
    .footer_lower{
     
      flex-direction: column;
      justify-content: center;
    
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 16px;
    }
    
    .footer_lower_first_link{
      font-size: 12px;
    }
  
    .footer_lower_middle{
      margin-top: 10px;
    }
    
    .footer_lower_last{
   margin-top: 10px;
    }
    
    .footer_lower_last_link{
      font-size: 12px;
      }
    }


    @media only screen and (max-width: 540px) {

      /*************************************** Cover Section ***************************************/
      
    
      .bar {
        justify-content: center;
        flex-wrap: wrap;
      }
    
      .logo {
        margin-top: 15px;
        margin-bottom: 10px;
    }
      
    
      .login_signup_publish {
      
        margin-top: 10px;
      }
      .login {
      
        font-size: 12px;
      }
      .signup {
      
        font-size: 12px;
      }
    
    
      .publish {
        width: 125px;
        height: 32px;
        font-size: 12px;
      }
      
      /* Header Content */
      .header-content {
      
        padding-top: 27px;
      }
      
      .point_image {
        width: 13px;
        height: 13px;
      }
      .header-text {
        font-size: 27px;
        line-height: 1;
      }
      .oval {
        width: 75px;
        height: 75px;
      }
      .dotdot {
      
        font-size: 15px;
        margin-right: -60px;
        margin-bottom: 35px;
        transform: rotate(140deg);
      }
      
      /* *************************************search******************* */
      
      .search {
        margin-top: 40px;
      }
      .container_search input {
        font-size: 12px;
    
        width: 400px;
        height: 30px;
      }
      .suggestions > div {
        padding: 10px;
        font-size: 13px;
      }
      .search_icon_image{
        width: 15px;
        height: 15px;
      }
    /*   .search_icon {
        margin-left: -35px;
        margin-bottom: -27px;
      } */
      
      
      
      /*********************************************** On Trend Section *********************************************/
      
      .ontrend {
        margin-top: 100px;
        flex-wrap: wrap;
      }
      
      .point_yellow {
      
        margin-right: 170px;
        margin-top: -70px;
      }
        .point_yellow_img {
        width: 16px;
        height: 16px;
        }
      
      
        .title_slider {
          display: flex;
          justify-content: center ;
      
        }
    
        .slider_title{
          margin-left: 170px;
        }
      
    /*   .trend_slider {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      
      
      } */
    
      .hidden1 {
        display: none !important;
      }
    
      .hidden2 {
        display: none !important;
      }
    
      .hidden3 {
        display: none !important;
      }
      
      .point_red {
        margin-left: 250px;
        margin-top: 100px;
      }
      
    /*   .card_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 130px;
        margin-right: 8px;
      } */
      
    /*   .hidden {
        display: none;
      } */
    /*   .card_image {
        width: 90px;
        height: 70px;
      } */
      
    /*   .card_content {
        width: 105px;
        height: 31px;
        font-size: 12px;
        line-height: 1.28;
        margin-top: 6px;
        padding: 0px  7px;
      }
       */
      
    
      
      
      .explore {
        margin-top: 100px;
      }
      .explore_text {
        font-size: 11px;
      }
      
      
      
      /* *************************************Body Content************************************* */
      
      .body_content {
        margin-top: 50px;
      }
      
      .categories {
        width: 90%;
        margin-top: 45px;
        margin-bottom: 40px;
     
      }
      
      .link_categories {
        font-size: 13px;
    
      }
      
      .link_categories:hover{
         font-size: 15px;
       }
      
      /* .oval_categories {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        margin-right: -50px;
      } */
      
      
      /* AllCards_body_container */
      
    
      
      
      
      .btn_viewAll {
        margin-top: 10px;
        width: 70px;
        height: 70px;
        margin-bottom: 15px;
      }
      
      .viewAll_text {
        font-size: 13px;
     
        margin-right: -60px;
      }
      
      /* .................................................Footer Section........................... */
      
      .footer_upper {
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
      }
      .footer_upper_link {
        font-size: 12px;
      }
      
      .footer_lower{
       
        flex-direction: column;
        justify-content: center;
      
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 16px;
      }
      
      .footer_lower_first_link{
        font-size: 12px;
      }
    
      .footer_lower_middle{
        margin-top: 10px;
      }
      
      .footer_lower_last{
     margin-top: 10px;
      }
      
      .footer_lower_last_link{
        font-size: 12px;
        }
      }

